ListView {
    margin: 5;
}
Label {
    margin: 10;
    /*vertical-align: middle;*/
}
TextField {
    border-width: 5;
    border-style: solid;
    border-color: #034793;
}
/*Image {
    margin: 10;
}*/

.name{
    width: 90%;
}

.qty{
    width: 5%;
}